$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$linkColor: #212529 !important;

$clr-primary: #242122;
$clr-primary-hover: #e0e0e0;
$clr-primary-dark: #ec407a;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;

 $radius: 0.2rem; 

*,
*::before,
*::after {
  box-sizing: border-box;
/*  margin: 0;
  padding: 0; */
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

body a {
  color: $linkColor
}

.nav {
  position: fixed;
  width: 100vw;
 /* box-shadow: 0 0 10px $clr-gray300; */

  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0rem;
    margin: 0 0rem;

    

    &item {
      list-style: none;
      font-weight:500;
      position: relative;
      padding: 1.5rem 1rem;
      cursor:pointer;

      &::after {
        content: "";
        width: 0;
        height: 0.2rem;
        border-radius: $radius;
        position: absolute;
        left: 1rem;
        bottom: 0.9rem;
        background-color: $clr-primary;
        transition: width 250ms ease-in;
      }

      &:hover::after,
      &:focus::after {
        width: 80%;
      }

      &:hover ul,
      &:focus ul {
        opacity: 1;
        visibility: visible;
      }

      &drop {
        position: absolute;
        top: 4rem;
        left: -1rem;
        box-shadow: 0 0 10px $clr-gray300;
        background-color: white;
        border-radius: $radius;
        width: 12rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity 200ms ease-in-out;

        li {
          list-style: none;
          padding: 0.5rem 1rem;
          border-radius: $radius;
          transition: background-color 200ms ease-in-out;

          &:hover,
          &:focus {
            background-color: $clr-primary-hover;
          }
        }
      }
    }
  }
}
